{{!-- The header of the theme --}}
<header id="masthead" class="site-header outer">
	<div class="site-header-inside">
		<div class="site-branding">
			{{#if @blog.logo}}
			<p class="site-logo"><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a></p>
			{{/if}}
			{{#is "index"}}
			<h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
			{{else}}
			<p class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></p>
			{{/is}}
		</div><!-- .site-branding -->
		<nav id="main-navigation" class="site-navigation" aria-label="Primary Navigation">
			{{navigation}}
			<button id="sidebar-show" class="sidebar-toggle"><span class="screen-reader-text">Open Sidebar</span><span class="icon-more" aria-hidden="true"></span></button>
		</nav><!-- .site-navigation -->
	</div><!-- .site-header-inside -->
</header><!-- .site-header -->
